body {
    margin: 0;
    text-align: center;
    font-family: 'Merriweather', serif;
}
.top-container {
    background-color: #E4F9F5;
    position: relative;
    padding-top: 100px;
}
h1 {
    font-family: 'Sacramento', cursive;
    margin-top: 50px;
    font-size: 5.625rem;
    color: #66BFBF;
}
h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
    color: #66BFBF;
}
h3 {
    font-family: 'Montserrat', sans-serif;
    color: #11999E;
}
a {
    color: #11999E;
}
.bottom-cloud {
    position: absolute;
    left: 300px;
    top: 250px;
}
.top-cloud {
    position: absolute;
    right: 300px;
    top: 100px;
}
.skill-row {
    /* display: inline-block; */
    width: 50%;
    margin: 100px auto 100px auto;
}
/*.top-container{
    background-color: aquamarine;
    height: 200px;
    width: 200px;
}
.middle-container {
    background-color: yellow;
    height: 200px;
    width: 200px;
    margin: 0px 0px 0px 200px;
    border: 20px solid black;
}
.bottom-container {
    background-color: brown;
    height: 200px;
    width: 200px;
    margin-left: 400px;
    border: 10px solid black;
}
*/
/* Positioning lesson and display attribute */
/*.red {
    height: 200px;
    width: 200px;
    background-color: red;
    position: relative;
    left: 200px;
    display: inline-block;
}
.blue {
    height: 200px;
    width: 200px;
    background-color: blue;
    display: inline-block;
}
.yellow {
    height: 200px;
    width: 200px;
    background-color: yellow;
    display: inline-block;
}
*/
/*.red {
    height: 200px;
    width: 200px;
    background-color: red;
    display: inline-block;
    position: absolute;
    top: 830px;
    left: 400px;
}
.blue {
    height: 200px;
    width: 200px;
    background-color: blue;
    display: inline-block;
    position: absolute;
    top: 634px;
    left: 200px;
}
.yellow {
    height: 200px;
    width: 200px;
    background-color: yellow;
    display: inline-block;
    position: absolute;
    left: 0px;
}
*/