body {
    color: #40514E;
    margin: 0;
    text-align: center;
    font-family: 'Merriweather', serif;
}
.top-container {
    background-color: #E4F9F5;
    position: relative;
    padding-top: 100px;
}
h1 {
    font-family: 'Sacramento', cursive;
    margin-top: 50px;
    font-size: 5.625rem;
    color: #66BFBF;
}
h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
    color: #66BFBF;
}
h3 {
    font-family: 'Montserrat', sans-serif;
    color: #11999E;
    margin-top: 50px;
}
a {
    color: #11999E;
}
.bottom-cloud {
    position: absolute;
    left: 300px;
    top: 250px;
}
.top-cloud {
    position: absolute;
    right: 300px;
    top: 100px;
}
.skill-row {
    /* display: inline-block; */
    width: 50%;
    margin: 100px auto 100px auto;
}
.profile {
    margin-top: 100px;
    margin-bottom: 50px;
}
.image-user {
    margin-top: 25px;
}
p {
    line-height: 2;
    letter-spacing: .1rem;
}
.browser {
    float: left;
    margin-right: 30px;
}
.hack {
   float: right;
   margin-left: 30px;
}
.skill{
    background-color: #C2DED1;
    margin-top: 50px;
    padding: 25px;
    margin-left: 25%;
    margin-right: 25%;
}
.touch {
    background-color: #C2DED1;
    margin-top: 50px;
    padding: 25px;
    margin-left: 25%;
    margin-right: 25%;
}
.contact-msg {
    width: 50%;
    margin: auto;
    margin-bottom: 25px;
}
.btn {
    color: #66BFBF;
    background-color: #C2DED1;
    border-radius: 10px;
    width: 20%;
    text-transform: capitalize;
    text-decoration-color: #66BFBF;
    margin-bottom: 30px;
}
.btn:hover {
    color:#5F7161;
    font-family: 'Merriweather', serif;
}
.bottom-container {
background-color: #66BFBF;
padding: 50px 0 20px 0;
}
a {
    color: #11999E;
    margin: 10px 20px;
    margin-bottom: 10px;
}
a:hover {
    text-decoration: none;
    color: #EAF6FE;
}
