#title {
    background-color: #c8bcaf;
}
.container-fluid {
    padding: 1% 15%;
}
.logo {
    font-family: 'Monoton', cursive;
}
h1 {
    font-family: 'Marcellus', serif;
    font-size: 4rem;
    line-height: 1.5;
}
nav {
    margin-bottom: 10px;
    margin-top: 5px;
}
li {
    padding: 10px;
}
.download-button{
    margin: 5% 3% 5% 0;
}