body {
    font-family: 'Marcellus', serif;
}
p {
    color: #8f8f8f;
}
#title {
    background-color: #c8bcaf;
}
.container-fluid {
    padding: 1% 15% 7%;
}
.navbar {
    padding-left: 2px;
}
.nav-link:hover{
    background-color: #7b4c2d;
    border-radius: 5px;
}

.logo {
    font-family: 'Monoton', cursive;
    font-size: 2rem;
}
h1 {
    font-family: 'Marcellus', serif;
    font-size: 4rem;
    line-height: 1.5;
}
h2 {
    font-family: 'Marcellus', serif;
    font-size: 3rem;
    line-height: 1;
    color: #0e0b0b;
}
nav {
    margin-bottom: 10px;
    margin-top: 5px;
}
li {
    padding: 10px;
}
.download-button{
    margin: 5% 3% 5% 0;
}
.title-img {
    width: 100%;
    border-radius: 70px;
    transform: rotate(5deg);
    position: absolute;
}

/* features */
#features {
    padding: 7% 15%;
    background-color: #fff;
    position: relative;
}
.feature-box {
    text-align: center;
    padding: 5%;
    font-family: 'Marcellus-bold', serif;
}
.Icon {
    color: #c8bcaf;
    margin-bottom: 0.5rem;
}
.Icon:hover{
    color: #7b4c2d;
}

/* testimonials */
#testimonials {
    background-color: #c8bcaf;
    text-align: center; 
}
.test-img {
    width: 10%;
    border-radius: 80%;
    margin: 20px;
}

#press {
    background-color: #c8bcaf;
    padding-bottom: 3%;
    text-align: center;
}
.press-logo {
    width: 15%;
    margin: 20px 20px 50px;
}
.carousel-item {
    padding: 7% 15%;
}

/* pricing-section */
.button {
    color: #c8bcaf;
}
#pricing {
    padding: 100px;
    text-align: center;
}
.pricing-column {
    padding: 3% 2%;
}

#cta {
    background-color: #c8bcaf;
    padding: 7% 15%;
    text-align: center;
}
.cta {
    color: #fff;
    font-size: 3rem;
}
.download-button {
    border-color: #fff;
}
#footer {
    padding: 7% 15%;
    text-align: center;
}
.foot {
    font-family: 'Moniton', cursive;
}
.social-icon {
    margin: 20px 10px;
}
@media (max-width: 985px) {
    #title {
        text-align: center;
    }
    .title-img {
        position: static;
        transform: rotate(0);
    }
    .Icon:hover {
        color: #7b4c2d;
    }
}