body {
    font-family: 'Marcellus', serif;
}
p {
    color: #8f8f8f;
}
#title {
    background-color: #c8bcaf;
}
.container-fluid {
    padding: 1% 15%;
}
.navbar {
    padding-left: 2px;
}
.nav-link:hover{
    background-color: #7b4c2d;
    border-radius: 5px;
}

.logo {
    font-family: 'Monoton', cursive;
    font-size: 2rem;
}
h1 {
    font-family: 'Marcellus', serif;
    font-size: 4rem;
    line-height: 1.5;
}
nav {
    margin-bottom: 10px;
    margin-top: 5px;
}
li {
    padding: 10px;
}
.download-button{
    margin: 5% 3% 5% 0;
}
.title-img {
    width: 100%;
    border-radius: 70px;
    transform: rotate(5deg);
}

/* features */
#features {
    padding: 7% 15%;
}
.feature-box {
    text-align: center;
    padding: 5%;
    font-family: 'Marcellus-bold', serif;
}
.Icon {
    color: #c8bcaf;
    margin-bottom: 0.5rem;
}
.Icon:hover{
    color: #7b4c2d;
}