header {
    margin-top: 2rem;
}
.img1 {
    margin-right: 70%;
}
.bot-1 {
    height: 4rem;
    width: 9.278rem;
    color: white;
    border-radius: 4rem;
    background-color: #13183e;
    line-height: 1.55rem;
    font-family: 'Signika', sans-serif;
    font-weight: 800;
}
/* main-section */

main {
    margin-top: 12rem;
}
h1 {
    width: 50%;
    font-family: 'Signika', sans-serif;
    font-size: 70px;
    font-weight: bold;
    color: #13183e;
    line-height: 4rem;
    margin-bottom: 2.5rem;
}
p {
    color: gray;
    width: 45%;
    font-family: 'Signika', sans-serif;
    line-height: 2rem;
    font-size: 20px;
    margin-bottom: 5rem;
}
.bot-2 {
    background: linear-gradient(#fc6553, #f2319a);
    color: #fff;
    height: 4rem;
    width: 11rem;
    border-radius: 4rem;
    line-height: 1.55rem;
    font-family: 'Signika', sans-serif;
    font-weight: 700;
}